@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  color: #222222;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222222;
}

.site {
}

.header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header__left, .header__right {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
}

.header__logo p {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-transform: uppercase;
}

.header__logo img {
  padding-right: 10px;
  height: 51px;
}

.header__logo p span {
  font-size: 27px;
  color: #f16d7f;
  font-weight: 900;
}

.header__search {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 38px;
}

.header__search input {
  height: inherit;
  outline: none;
  overflow: hidden;
  width: 257px;
  padding-left: 14px;
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;

}
.header__search input::placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
}
.search__browse {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  width: 87px;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.fas1 {
  color: #838383;
  font-size: 14px;
  font-weight: 400;
}

.header__search button {
  outline: none;
  overflow: hidden;
  border: none;
  height: inherit;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search:hover {
  color: #222222;
}

.fa-search {
  padding-left: 6px;
  padding-right: 6px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.cart {
  margin-right: 26px;
}
.my_account_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #ececec;
  margin-top: 100px;
  width: 100%;
  min-height: 51px;
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 680px;
}

.menu-list li {
  list-style-type: none;
}

.menu-list li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.slider-box {
  background-color: #e8e8e8;
  max-width: 100%;
  padding-top: 100px;
}

.slider-top {
  max-width: 100%;
  height: 665px;
  background-image: url("../img/slider-top.png");
  background-repeat: no-repeat;
}

.slider-text {
  display: flex;
  padding-top: 276px;
  height: 92px;
}
.slider-text img {
  height: 92px;
}
.slider-h {
  margin-left: 12px;
  height: 92px;
  line-height: 42px;
  }

.slider-h .h1, .h3{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.slider-h .h1 {
  color: #222222;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 1.5px;
}

.slider-h .h3 {
  padding-top: 12px;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}

.slider-h .h3 span {
  color: #f16d7f;
  text-transform: uppercase;
}

.banner-box {
  margin-top: 98px;
  height: 823px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.banner-box_1 {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.banner-box_2 {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.banner1 {
  width: 560px;
  height: 542px;
  background-image: url("../img/banner-1.png");
  background-repeat: no-repeat;
}
.banner2 {
  width: 560px;
  height: 261px;
  background-image: url("../img/banner-3.png");
  background-repeat: no-repeat;
  background-position: right;
}

.banner3 {
  width: 560px;
  height: 261px;
  background-image: url("../img/banner-2.png");
  background-color: #dadad2;
  background-repeat: no-repeat;
  background-position: right;
}

.banner4 {
  width: 560px;
  height: 542px;
  background-image: url("../img/banner-4.png");
  background-repeat: no-repeat;
}
.banner-text1 {
  margin-top: 26px;
  width: 175px;
  height: 82px;
  background-color: #ffffff;
}

.banner-text-style1 {
  padding-top: 16px;
  padding-left: 18px;
  color: #222222;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.banner-text-style2 {
  padding-top: 5px;
  padding-left: 18px;
  color: #f16d7f;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.banner-text3 {
  margin-top: 26px;
  width: 240px;
  height: 82px;
  background-color: #ffffff;
}

.banner-text2 {
  margin-top: 26px;
  width: 162px;
  height: 82px;
  background-color: #ffffff;
}

.banner-text4 {
  margin-top: 26px;
  width: 180px;
  height: 82px;
  background-color: #ffffff;
}

.featured-items-text {
  text-align: center;
  margin-top: 100px;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.featured-items-text p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.featured-items-box {
  height: 745px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.featured-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 261px;
  height: 342px;
}

.product-photo {
  width: 261px;
  height: 279px;
}

.layers {
  position: absolute;
  display: flex;
  opacity: 0;
}

.cart-order {
  margin-top: 98px;
  margin-left: 70px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 123px;
  height: 39px;
  outline: 1px solid #ffffff;
  z-index: 1;
}

.cart-order:hover {
  outline: 1px solid #f16d7f;
}

.cart-order:hover p {
  color: #f16d7f;
}
.cart-order:hover div {
  filter: invert(48%) sepia(17%) saturate(6948%) hue-rotate(316deg) brightness(109%) contrast(89%);
}

.cart-order p {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}

.white-layer {
  position: absolute;
  display: flex;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  width: 263px;
  height: 364px;
  z-index: 0;
}

.white-layer:hover {
  z-index: 0;
}

.layers:hover {
  opacity: 1;
}

.featured-item-text {
  padding-left: 14px;
}

.featured-item-text p {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.featured-item-text h6 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.browse-all-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.browse-all-products a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.offer-box {
  margin-top: 113px;
  height: 529px;
  display: flex;
  background-color: #222224;
}

.offer-box-left {
  position: relative;
  min-width: 767px;
  background-image: url("../img/Offer_pic.png");
  background-repeat: no-repeat;
}

.offer-box-left img {
  position: absolute;
  z-index: 0;
}

.offer-left-text-box {
  position: absolute;
}

.offer-left-text-big {
  padding-top: 146px;
  padding-left: 36px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.offer-left-text-big span {
  color: #f16d7f;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.offer-left-text-small {
  padding-left: 36px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-transform: uppercase;
}

.offer-box-right {
  margin-left: 32px;
  margin-top: 48px;
  width: 298px;
  height: 415px;
  display: flex;
}

.offers-icons {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50px;
  height: 365px;
}

.orbt {
  margin-left: 30px;
  padding-bottom: 45px;
}

.orbt h1 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  letter-spacing: 0.5px;
}

.orbt p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.sub-content{
  background-color: #f2f2f2;
}
.subscribe-box {
  max-width: 1610px;
  min-height: 438px;
  margin: 0 auto;
  margin-top: 97px;
  background-image: url("../img/subscribe-box-bckg.png");
  background-repeat: no-repeat;
}

.subscribe-box > div {
  display: flex;
}

.subscribe-left-box {
  min-width: 570px;
  height: 329px;
  border-right: 1px solid #ffffff;
  padding-top: 111px;
  display: flex;
}

.subscribe-left-box img {
  height: 83px;
  width: 83px;
}

.subs-left-box-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 259px;
  width: 386px;
  padding-left: 28px;
}

.subs-left-box-text p {
  color: #222224;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 26px;
}

.subs-left-box-text h5 {
  margin: 0;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.subs-left-box-text h6 {
  color: #222224;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.subs-left-box-text a img {
  width: 38px;
  height: 4px;
  margin-right: 13px;
  margin-top: 45px;
}

.subs-left-box-text a img:hover {
  filter: invert(48%) sepia(17%) saturate(6948%) hue-rotate(316deg) brightness(109%) contrast(89%);
}

.subscribe-right-box {
  display: flex;
  min-width: 570px;
  height: 438px;
}

.subs-right-box-text {
  padding-top: 148px;
  padding-left: 92px;
  height: 122px;
  min-width: 386px;
  text-align: center;
}

.subs-right-box-text h2 {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  letter-spacing: 0.6px;
  line-height: 24px;
  text-transform: uppercase;
}

.subs-right-box-text p {
  color: #222224;
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.subscribe-mail {
  position: relative;
  height: 46px;
  margin-top: 35px;
  display: flex;
  align-content: center;
  border: 0;
  outline: 0;
}
.subscribe-mail input {
  position: absolute;
  padding: 0;
  padding-left: 28px;
  width: 334px;
  height: 46px;
  border-radius: 23px;
  border: 0;
  background-color: #e1e1e1;
}
.subscribe-mail input:focus{
  outline: none;
}
.subscribe-mail input::placeholder{
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.subscribe-mail button {
  position: absolute;
  right: 0;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  border: 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.bot-menu {
  margin-top: 109px;
  height: 260px;
  display: flex;
}

.bot-logo {
  width: 428px;
}

.bot-logo > a {
  height: 51px;
  width: 180px;
}

.bot-text-l p {
  display: flex;
  flex-wrap: wrap;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.bot-h1 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}

.bot-company {
  margin-left: 63px;
  display: flex;
  flex-direction: column;
}

.bot-company-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 179px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.bot-company-list ul li a{
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.bot-information {
  margin-left: 129px;
  display: flex;
  flex-direction: column;
}

.bot-shopc {
  margin-left: 79px;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
}

.footer > div {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.socials {
  width: 191px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab {
  color: #b2b2b2;
  font-size: 32px;
  font-weight: 400;
}

.fab:hover {
  color: #f16d7f;
}