.top {
    background-color: $mainBackColor;
    width: 100%;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid #ececec;
}

.header {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.header__left, .header__right {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__right > div {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 37px;
}

.header__logo p {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-transform: uppercase;
}

.header__logo img {
    padding-right: 10px;
    height: 51px;
}

.header__logo p span {
    font-size: 27px;
    color: $mainColor;
    font-weight: 900;
}

.header__search {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    height: 38px;
}

.header__search > label {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    height: 38px;
}

.header__search > label > input {
    height: inherit;
    outline: none;
    overflow: hidden;
    width: 257px;
    padding-left: 14px;
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

}

.header__search > label > input::placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.search__browse {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    width: 87px;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;
}

.search__browse:hover {
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #e3e3e3 100%);
}

.checkbox01 {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    z-index: 0;
}

.dropdown-content {
    width: 262px;
    height: 0;
    position: absolute;
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    overflow: hidden;
    -webkit-transition: height .1s ease;
    -webkit-transition-delay: .1s;
    z-index: 0;
}

.fa-caret-up {
    color: #ffffff;
    position: absolute;
    margin-left: 59px;
    margin-top: 33px;
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
    z-index: 0;
}

.dropdown-content h6 {
    padding: 0;
    margin: 13px 0 10px 15px;
    color: #232323;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.dropdown-content:first-child h6:after {
    content: '';
    position: absolute;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
    z-index: 3;
}

.d-c__hr {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 13px 10px 13px;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.35px;
}

.dropdown-content a:hover {color: $mainColor;}

.checkbox01:checked~.dropdown-content {
    height: 530px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

.dropdown-content:hover {
    height: 530px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

.checkbox01:checked~.fa-caret-up {
    opacity: 1;
    z-index: 3;
    color: #000;
}

.fas1 {
    color: #838383;
    font-size: 14px;
    font-weight: 400;
}

.header__search button {
    outline: none;
    overflow: hidden;
    border: none;
    height: inherit;
    background-color: $mainBackColor;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-search:hover {
    color: $mainColor;
}

.fa-search {
    padding-left: 6px;
    padding-right: 6px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.cart {
    margin-right: 26px;
}

.cart-box-dropdown{
    margin-top: 65px;
    display: none;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
}

.cart-box {
    -webkit-transition: height .1s ease;
    -webkit-transition-delay: .1s;
    width: 262px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.cart-contain-box {
    width: 230px;
    padding: 15px;
    border-radius: 5px;
    background-color: $mainBackColor;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &__total {
        width: 225px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        > div,
        > span {
            color: #222222;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    &__button-checkout {
        width: 225px;
        height: 50px;
        border: 1px solid #f16d7f;
        outline: 0;
        color: $mainColor;
        background-color: $mainBackColor;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        transition: all 0.5s;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            color: $mainBackColor;
            background-color: $mainColor;
        }
    }
    &__button-go-to-cart {
        width: 225px;
        height: 50px;
        border: 1px solid #eaeaea;
        outline: 0;
        background-color: $mainBackColor;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.5s;
        cursor: pointer;
        &:hover{
            color: $mainBackColor;
            background-color: $mainColor;
        }
    }
}

.cart-product {
    width: 230px;
    height: 85px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
        width: 72px;
        height: inherit;
        > img {
            height: inherit;
            object-fit: scale-down;
        }
    }
    &__info {
        width: 110px;
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        &__name {
            color: #222222;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
        }
        &__rating {
            font-size: 10px;
            color: #e4af48;
        }
        &__price {
            color: $mainColor;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
        }
    }
    &__delete {
        color: #c0c0c0;
        width: 15px;
        height: 15px;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        > i {
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
}

.my_account_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    width: 130px;
    height: 38px;
    background-color: $mainColor;
    transition: all 0.5s
}

.my_account_box:hover {
    background-color: $buttonHoverColor;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    width: 100%;
    position: fixed;
    background-color: $mainBackColor;
    z-index: 2;
}

.menu-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;
    width: 680px;
    height: 51px;
}

.menu-list li {
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.menu-list li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-list li:hover {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 10px;
    margin-bottom: -12px;
}

.menu-item {
    float: left;
    overflow: hidden;
}

.top-nav-mega-menu {
    width: 846px;
    height: 310px;
    background-color: $mainBackColor;
    position: absolute;
    margin-top: 350px;
    display: none;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

.top-nav-mega-menu__box {
    width: 235px;
    height: 270px;
    margin-right: 46px;
}

.top-nav-mega-menu__box h6 {
    padding: 0;
    margin: 13px 0 10px 15px;
    color: #232323;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.top-nav-mega-menu__box a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.35px;
}

.top-nav-mega-menu__img {
    position: absolute;
    right: 19px;
    bottom: 19px;
    width: 255px;
    height: 118px;
    background-image: url("../../img/mega-menu_img_1.png");
    background-repeat: no-repeat;
}

.top-nav-mega-menu__img span {
    color: $mainBackColor;
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    right: 10px;
    bottom: 10px;
}

.menu-item:hover + .top-nav-mega-menu {
    display: flex;
}

.top-nav-mega-menu:hover {
    display: flex;
}

.top-nav-mega-menu a:hover {color: $mainColor;}

.new-arrivals {
    padding-top: 151px;
    height: 148px;
    width: 100%;
    background-color: #f8f3f4;
    z-index: 2;
}

.new-arrivals-nav {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.new-arrivals-nav__h1 {
    color: $mainColor;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.new-arrivals-nav__menu {
    display: flex;
}

.new-arrivals-nav__menu a {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.new-arrivals-nav__menu a:hover,
.new-arrivals-nav__menu a:focus {
    color: $mainColor;
    font-weight: 700;
}

.new-arrivals-nav__menu span {
    font-size: 14px;
}