.shopping-cart-box {
    padding-top: 90px;
    align-items: center;
}

.shopping-cart-box__product-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px;
}

.scb__border {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.scb__product-h-right-box {
    min-width: 670px;
}

.scb__product-h-right-box ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.scb__product-h-left-box,
.scb__product-h-right-box ul li,{
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}

.shopping-cart-box__item1 {
    margin-top: 20px;
    height: 115px;
    display: flex;
}

.product-information  {
    height: 80px;
    margin-top: 13px;
    width: 255px;
    margin-left: 21px;
    margin-right: 153px;
    display: flex;
    flex-direction: column;
}

.product-information h3 {
    color: #222222;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.product-information__text {
    color: #6f6e6e;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.product-information__text span {
    color: #575757;
    font-weight: 700;
}

.unit-price {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    height: 115px;
    @extend %displayFlexAlignCenter;
    margin-right: 107px;
}

.number-of-items {
    @extend %displayFlexAlignCenter;
    height: 115px;
    margin-right: 95px;
}

.number-of-items input {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
}

.shipping-text {
    height: 115px;
    @extend %displayFlexAlignCenter;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 110px;
}

.subtotal-text {
    @extend %displayFlexAlignCenter;
    height: 115px;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    margin-right: 115px;
}

.action-button {
    @extend %displayFlexAlignCenter;
    height: 115px;
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;

}

.action-button > i {
    cursor: pointer;
}

.action-button > i:hover {
    color: $mainColor;
}

.clear-continue-box {
    margin-top: 44px;
    @extend %displayFlexAlignCenter;
    justify-content: space-between;
    height: 50px;
}

.clear-shopping-cart, .continue-shopping {
    @extend %displayFlexAlignCenter;
    justify-content: center;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;
}

.clear-shopping-cart:hover, .continue-shopping:hover{
    background-color: $mainColor;
    color: $mainBackColor;
}

.shipping-box {
    margin-top: 63px;
    display: flex;
}

.shipping-box__h {
    color: #222222;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.shipping-box__country {
    position: relative;
    width: 377px;
    height: 45px;
    margin-bottom: 20px;
}

.shipping-box__country input {
    padding-left: 18px;
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    outline: none;
}

.shipping-box__country select {
    padding-left: 18px;
    width: 377px;
    height: 45px;
    border: 1px solid #eaeaea;
    outline: none;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border-radius: 2px;
    margin-right: 2rem;
    padding-right: 2rem;
}

.shipping-box__country select option {
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.shipping-box__country i:hover {
    color: $mainColor;
}

.shipping-box__country input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}

.get-a-quote-button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: $mainBackColor;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
}

.get-a-quote-button:hover {
    background-color: $mainColor;
    color: $mainBackColor;
}

.shipping-box_discount {
    margin-left: 36px;
}

.shipping-box_discount span {
    margin-top: 6px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}
.shipping-box_discount > form {
    margin-top: 24px;
}
.apply-coupon-button {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
}

.apply-coupon-button:hover {
    background-color: $mainColor;
    color: $mainBackColor;
}

.shipping-box_grand-total {
    margin-left: 36px;
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
}

.grand-total {
    padding: 41px;
    width: 276px;
    height: 132px;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    flex-wrap: wrap;
}

.grand-total__sub-total{
    @extend %displayFlexAlignCenter;
    justify-content: space-between;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    width: 101px;
    padding-bottom: 14px;
    padding-left: 100px;
}

.grand-total_gt {
    @extend %displayFlexAlignCenter;
    width: 165px;
    justify-content: space-between;
}

.grand-total_gt > div {
    color: #222222;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

.grand-total_gt > span {
    color: $mainColor;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}


.grand-total__border {
    width: 273px;
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 17px;
}

.proceed-to-checkout {
    @extend %displayFlexAlignCenter;
    justify-content: center;
    width: 273px;
    height: 50px;
    background-color: $mainColor;
    color: $mainBackColor;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.proceed-to-checkout:hover {
    background-color: $buttonHoverColor;
}

.shopping-cart-box__item1 > img:hover {
    transform: rotate3d(1, 2, 3, 360deg);
    transition-duration: 3s;
}